<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="restservicetest"
            application="org.eclipse.osbp.vaaclipse.addons.app.application">
         <property
               name="clearPersistedState"
               value="false">
         </property>
         <property
               name="appName"
               value="restservicetest">
         </property>
         <property
               name="applicationWidgetset"
               value="org.eclipse.osbp.vaadin.widgetset/VAADIN/widgetsets/org.eclipse.osbp.vaadin.widgetset.widgetsets.OSBPWidgetset">
         </property>
        <!--
		<property
		    name="applicationHeaderIcon"
		    value="net.osbee.app.restservicetest.product/img/logo.png">
		</property>
		-->
        <property
              name="applicationAuthenticationProvider"
              value="org.eclipse.osbp.authentication.ui/org.eclipse.osbp.authentication.ui.login.AuthenticationProvider">
        </property>
        <property
            name="vaadin.productionMode"
            value="true">
        </property>
        <property
            name="cssTheme"
            value="osbp">
        </property>
        <property
        	name="vaadin.pushmode"
        	value="AUTOMATIC">
        </property>
        <property
        	name="showFrame"
        	value="false">
        </property>
        <property
              name="startupForegroundColor"
              value="000000">
        </property>
        <property
              name="startupMessageRect"
              value="5,380,570,20">
        </property>
        <property
              name="startupProgressRect"
              value="5,400,570,15">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
      </product>
   </extension>
   <extension
         id="net.osbee.app.restservicetest.application"
         point="org.eclipse.e4.workbench.model">
   </extension>
</plugin>
